
/**************************************************
    BASE VARIABLES
**************************************************/

  /**** COLORS *****/
  $color-primary: #627384 !default;
  $color-accent-one: #E55B6B !default;
  $color-base: #4C4844 !default;
  $color-text-on-dark: #E5E5E5;
  $color-text-on-light: #252C33;
  $color-alert: hsl(0, 60%, 50%);

  /**** TYPOGRAPHY ****/
  $sans-serif: 'Open Sans', sans-serif;
  $serif: 'Lora', serif;
  $base-font-family: 'Open Sans', sans-serif;

  $base-font-size: 15px;
  $font-size-small: $base-font-size * .8;
  $font-size-large: $base-font-size * 1.2;
  $base-line-height: 1.5;

      // Font Weights
      $semi-bold: 600;
      $bold: 700;

  $base-header-size: $base-font-size * 1.2;
  $base-header-line-height: 1.2;
  $base-border-radius: 1px;


  $header-sizes: (
    one: $base-font-size * 2.4,
    two: $base-font-size * 2,
    three: $base-font-size * 1.8,
    four: $base-font-size * 1.6,
    five: $base-font-size * 1.2,
    six: $base-font-size * 1,
  );

  /**** Z-INDICES ****/
  $below-base: -1;
  $base: 1;
  $nav: 500;
  $aboveNav: 600;
  $screen: 800;
  $modal: 900;



/**************************************************
    ELEMENTS
**************************************************/
/**** BUTTONS ****/
$default-button-background: $color-base;
$default-button-border-color: darken($color-base, 5%);
$default-button-text-color: $color-text-on-dark;
$secondary-button-background: $color-accent-one;
$secondary-button-border-color: darken($color-accent-one, 5%);
$secondary-button-text-color: white;

$alert-button-background: $color-alert;
$alert-button-border-color: darken($color-alert, 5%);
$alert-button-text-color: white;

/**************************************************
    BLOCKS
**************************************************/


/**************************************************
    STRUCTURES
**************************************************/

/**************************************************
    PAGES
**************************************************/
// Block grid
$box-border-color: #555;

// Modals
$modal-border: $color-primary;
$modal-background-color: white;

// Flexbox Hero
$flexbox-hero-title-color: white;
$flexbox-hero-title-size: 64px;
$flexbox-hero-copy-color: darken(white, 3%);
$flexbox-hero-copy-size: 18px;

// Transitions
$default-transition: all .2s ease-in-out;

/**************************************************
    STYLEGUIDE SPECIFIC VARIABLES

    These style the styleguide, start here if you want to change
    the way it looks.
**************************************************/

$nav-background-color: $color-primary;
$nav-text-color: $color-text-on-dark;
$nav-text-color-hover: lighten($color-accent-one, 10%);
$toggle-background: darken($color-primary, 10%);

// This doesn't actually set the toggle-menu-height
// It's used to calculate the nav menu height :-p
$toggle-menu-height: 125px;

$nav-width: 300px;
$nav-padding: 20px;
$main-left-gutter: 60px;
$main-right-gutter: 20px;


/* If you want to put your styleguide in container, use a pixel
 value here. If you want it to flow the entire width of the page,
 use:
 $max-main-width: 100%;

 Note: this has no effect on the single pages.
*/
$max-main-width: 1280px;