@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic);

$box-border-color: #555;

$color-primary: #627384 !default;
$color-accent-one: #E55B6B !default;
$color-base: #4C4844 !default;
$color-text-on-dark: #E5E5E5;
$color-text-on-light: #252C33;
$color-alert: hsl(0, 60%, 50%);

// Typography
$sans-serif: 'Open Sans', sans-serif;
$serif: 'Lora', serif;
$base-font-family: 'Open Sans', sans-serif;

$base-font-size: 15px;
$font-size-small: $base-font-size * .8;
$font-size-large: $base-font-size * 1.2;
$base-line-height: 1.5;


$base-header-size: $base-font-size * 1.2;
$base-header-line-height: 1.2;

$header-sizes: (
  one: $base-font-size * 2.4,
  two: $base-font-size * 2,
  three: $base-font-size * 1.8,
  four: $base-font-size * 1.6,
  five: $base-font-size * 1.2,
  six: $base-font-size * 1,
);

// Z-Indexes
$below-base: -1;
$base: 1;
$nav: 500;
$aboveNav: 600;
$screen: 800;
$modal: 900;

// Buttons
$default-button-background: $color-base;
$default-button-border-color: darken($color-base, 5%);
$default-button-text-color: $color-text-on-dark;
$secondary-button-background: $color-accent-one;
$secondary-button-border-color: darken($color-accent-one, 5%);
$secondary-button-text-color: white;

$alert-button-background: $color-alert;
$alert-button-border-color: darken($color-alert, 5%);
$alert-button-text-color: white;

$base-border-radius: 1px;

// Modals
$modal-border: $color-primary;
$modal-background-color: white;

// Flexbox Hero
$flexbox-hero-title-color: white;
$flexbox-hero-title-size: 64px;
$flexbox-hero-copy-color: darken(white, 3%);
$flexbox-hero-copy-size: 18px;


// Transitions
$default-transition: all .2s ease-in-out;

// Styleguide Specific Variables
$nav-background-color: $color-primary;
$nav-text-color: $color-text-on-dark;
$nav-text-color-hover: lighten($color-accent-one, 10%);
$toggle-background: darken($color-primary, 10%);