@import "../../config/variables";
@import "../../mixins/button";

a.button{
  display: inline-block;
}

.button {

  padding: 8px 20px;
  text-transform: uppercase;
  text-decoration: none;

  &--primary{
    @extend .button;
    @include button(
      $default-button-background,
      $default-button-border-color,
      $default-button-text-color
    )
  }

  &--secondary{
    @extend .button;
    @include button(
      $secondary-button-background,
      $secondary-button-border-color,
      $secondary-button-text-color
    )
  }

  &--alert{
    @extend .button;
    @include button(
            $alert-button-background,
            $alert-button-border-color,
            $alert-button-text-color
    )
  }

}

