/*
 * This file styles the styleguide.
 * If you want to change the look of the styleguide itself, start here.
 */

@import "config/normalize";
@import "config/variables";

*{
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body, html{
  margin: 0;
  padding: 0;
}

body{
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $color-text-on-light;
}

#nav{
  transform: translateX(-300px);
  transition: all .2s ease-in-out;
  transform-origin: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background: $nav-background-color;
  padding: 40px 20px 0;
  color: $nav-text-color;
  z-index: $nav;

  a, a:link{
    color: $nav-text-color;
    text-decoration:none;

    &:hover, &:focus{
      color: $nav-text-color-hover;
      text-decoration: underline;
    }
  }

  body.menu-open &{
    transform: translateX(0);
  }

}

.styleguide-nav{
  height: calc(100vh - 71px);
  overflow: scroll;

  &__header{
    text-transform: uppercase;
    font-size: $base-font-size;
  }
}

#main{
  transition: all .2s linear;
  padding: 20px;
  width: calc(100%);
  margin-left: 0;

  body.menu-open & {
    width: calc(100% - 360px);
    margin-left: 360px;
    padding-right: 20px;
  }
}

#menu-toggle{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: transparent;
  text-align: left;
  padding: 15px;
  width: 300px;

  transition: $default-transition;
  z-index: $aboveNav;

  body.menu-open &{
    background: $toggle-background;
  }
}

.button--nav-toggle{
  border: 1px solid $nav-background-color;
  padding: 10px 0;
  width: calc((100% - 30px) / 4);
  margin-right: 10px;
  transition: $default-transition;

  &:last-child{
    margin-right: 0;
  }

  svg{
    width: 24px;
    height: 24px;
  }
  body.menu-open &{
    border: 1px solid $nav-text-color;
    background: transparent;

    &:hover{
      border: 1px solid $nav-text-color-hover;
    }

  }

  &:focus{
    outline: 0;
  }

  &.button--inactive{
    opacity: .5;
  }

}

.button--menu-toggle{
  background: white;
  svg{
    path{
      fill: $color-primary;
    }
    width: 24px;
    height: 24px;
  }

  body.menu-open &{
    border: 1px solid white;
    background: transparent;
    svg{
      path{
        fill: white;
      }
    }
  }
}

.button--can-hide{
  display: none;
  body.menu-open &{
    display: inline-block;
  }
}

.styleguide-item{
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid $nav-text-color;

  &__notes{
    &.notes-hidden{
      display: none;
    }
  }

  &__compiled-code{
    &.code-hidden{
      display: none;
    }
  }

  &__react-code {
    &.code-hidden{
      display: none;
    }
  }

}








