/*
 * This file styles the styleguide.
 * If you want to change the look of the styleguide itself, start here.
 */

@import "normalize";

$base-font-family: 'Open Sans', sans-serif !default;
$base-font-size: 15px !default;
$base-line-height: 1.5 !default;
$base-header-line-height: 1.2 !default;
$semi-bold: 600;
$bold: 700;

$color-primary: #627384 !default;
$color-accent-one: #E55B6B !default;
$color-base: #4C4844 !default;
$color-text-on-dark: #E5E5E5 !default;
$color-text-on-light: #252C33 !default;

/**** Z-INDICES ****/
$below-base: -1;
$base: 1;
$nav: 500;
$aboveNav: 600;
$screen: 800;
$modal: 900;

$body-background-color: $color-text-on-dark;
$main-background-color: white;

$nav-background-color: $color-primary;
$nav-text-color: $color-text-on-dark;
$nav-text-color-hover: lighten($color-accent-one, 10%);
$toggle-background: darken($color-primary, 10%);

// This doesn't actually set the toggle-menu-height
// It's used to calculate the nav menu height :-p
$toggle-menu-height: 125px;

$nav-width: 300px;
$nav-padding: 20px;
$main-left-gutter: 60px;
$main-right-gutter: 20px;


/* If you want to put your styleguide in container, use a pixel
 value here. If you want it to flow the entire width of the page,
 use:
 $max-main-width: 100%;

 Note: this has no effect on the single pages.
*/
$max-main-width: 1280px;

/* Mixins */
@mixin clearfix(){

  &:before,
  &:after {
    content:"";
    display:table;
  }

  &:after {
    clear:both;
  }

  zoom:1; /* For IE 6/7 (trigger hasLayout) */

}

/* Styling Begins Here */

*{
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body, html{
  margin: 0;
  padding: 0;
}

body{
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $color-text-on-light;
  background: $body-background-color;
}

#nav{
  transform: translateX($nav-width * -1);
  transition: all .2s ease-in-out;
  transform-origin: left;
  position: fixed;
  top: 0;
  left: 0;
  width: $nav-width;
  height: 100vh;
  background: $nav-background-color;
  padding: $nav-padding;
  color: $nav-text-color;
  z-index: $nav;

  a, a:link{
    color: $nav-text-color;
    text-decoration:none;

    &:hover, &:focus{
      color: $nav-text-color-hover;
      font-weight: $semi-bold;
      text-decoration: underline;
    }
  }

  body.menu-open &{
    transform: translateX(0);
  }

}

.styleguide-nav{
  height: calc(100vh - (#{$nav-padding} * 2) - #{$toggle-menu-height});
  overflow: scroll;

  &__header{
    text-transform: uppercase;
    font-size: $base-font-size;
  }
}

#main{
  @include clearfix;
  background: $main-background-color;
  transition: all .2s linear;
  width: calc(100%);
  margin: 0 auto;
  max-width: $max-main-width;
  padding-top: 0;
  padding-bottom: 0;

  body.menu-open & {
    width: calc(100% - #{$nav-width} );
    margin-left: $nav-width;
    padding-left: $main-left-gutter;
    padding-right: $main-right-gutter;
  }
}

#menu-toggle{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: transparent;
  text-align: left;
  padding: 15px;
  width: $nav-width;

  transition: all .2s ease-in-out;
  z-index: $aboveNav;

  body.menu-open &{
    background: $toggle-background;
  }
}

.input{
  display: none;
  width: 100%;
  margin-bottom: 10px;
  padding: 4px 8px;
  text-align: center;
  border: 0;

  &:focus{
    outline: 0;
    box-shadow: 0 0 2px 1px $nav-text-color-hover;
  }

  body.menu-open &{
    display: block;
  }
}

.button--nav-toggle{
  border: 1px solid $nav-background-color;
  padding: 10px 0;
  width: calc((100% - 30px) / 4);
  margin-right: 10px;
  transition: all .2s ease-in-out;

  &:last-child{
    margin-right: 0;
  }

  svg{
    width: 24px;
    height: 24px;
  }
  body.menu-open &{
    border: 1px solid $nav-text-color;
    background: transparent;

    &:hover{
      border: 1px solid $nav-text-color-hover;
    }

  }

  &:focus{
    outline: 0;
  }

  &.button--inactive{
    opacity: .5;
  }

}

.button--menu-toggle{
  background: white;
  svg{
    path{
      fill: $color-primary;
    }
    width: 24px;
    height: 24px;
  }

  body.menu-open &{
    border: 1px solid white;
    background: transparent;
    svg{
      path{
        fill: white;
      }
    }
  }
}

.button--can-hide{
  display: none;
  body.menu-open &{
    display: inline-block;
  }
}

.styleguide-item{
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid $nav-text-color;

  &__title{
    margin: $base-font-size * $base-header-line-height 20px;
  }

  &__notes{
    margin: 0 20px;

    &.notes-hidden{
      display: none;
    }
  }

  &__compiled-code{
    margin: 0 20px;
    &.code-hidden{
      display: none;
    }
  }

  &__react-code {
    margin: 0 20px;

    &.code-hidden{
      display: none;
    }
  }

}