/*
 * This file styles the styleguide.
 * If you want to change the look of the styleguide itself, start here.
 */

@import "config/normalize";
@import "config/variables";

*{
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body, html{
  margin: 0;
  padding: 0;
}

body{
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $color-text-on-light;
}


.styleguide-nav-header{
  text-transform: uppercase;
  font-size: $base-font-size;
}

#nav{
  transform: translateX(-300px);
  transition: all .2s ease-in-out;
  transform-origin: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background: $nav-background-color;
  padding: 40px 20px 0;
  color: $nav-text-color;
  z-index: $nav;

  a, a:link{
    color: $nav-text-color;
    text-decoration:none;

    &:hover, &:focus{
      color: $color-primary;
    }
  }

  body.menu-open &{
    transform: translateX(0);
  }

  .styleguide-nav{
    height: calc(100vh - 264px);
    overflow: scroll;
  }
}

#main{
  transition: all .2s linear;
  padding: 20px;
  width: calc(100%);
  margin-left: 0;

  body.menu-open & {
    width: calc(100% - 360px);
    margin-left: 360px;
    padding-right: 20px;
  }
}

.styleguide-item{
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-text-on-dark;
}

#menu-toggle{
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 100;
  width: 260px;
  transform: translateY(160px);
  transition: $default-transition;
  z-index: $aboveNav;

  body.menu-open &{
    transform: translateY(0);
  }
}

.button--nav-toggle{
  display: block;
  width: 100%;
  margin-bottom: 10px;
  background: $color-base;
  font-size: 12px;

  body.menu-open &{
    background: transparent;
  }
}

.styleguide-item-notes{

  &.notes-hidden{
    display: none;
  }
}

.compiled-code{

  &.code-hidden{
    display: none;
  }
}

.react-code {

  &.code-hidden{
    display: none;
  }
}



