@import "../../config/variables";

.modal-screen{
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  opacity: 0;
  z-index: $below-base;

  &--open{
    opacity: 1;
    z-index: $screen;
  }
}

.modal-window{

  transition: all .3s linear;
  border: 3px solid $modal-border;
  border-radius: 1px;
  background: $modal-background-color;
  padding: 20px 40px;
  display: none;
  opacity: 0;

}